/* SITE-WIDE */

body {
  padding: 2em;
  font-family: Helvetica, Arial;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-weight: 900;
}

a:active, a:visited {
  text-decoration: none;
  color: black;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.site-title {
  font-family: "Poiret One";
  font-size: 45px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: -1%;
}

.site-title a {
  color: black;
}

.site-title h1 {
  margin-top: 0px;
  padding-bottom: 18px;
}

.nav {
  text-align: center;
  margin-top: -1%;
  margin-bottom: -1%;
}

.nav__item {
  display: inline-block;
  font-family: "Poiret One";
  font-size: 20px;
  font-weight: regular;
  margin-right: 20px;
  line-height: 1.5em;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__item > a {
  color: #555;
  padding-bottom: 2px;
}

.nav__item:hover {
  border-bottom: 2px solid #AAA;
}

.nav__item--active {
  font-weight: 900;
  border-bottom: 2px solid #AAA;
}

h3 {
  font-family: "Poiret One";
  font-weight: 900;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  text-align: center;
  color: #999;
  font-weight: 500;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero__image {}

.hero__floating-block {
  position: absolute;
  background-color: rgba(249,241,220,.88);
  width: 50%;
  right: 25px;
  bottom: 25px;
  padding: 14px;
  line-height: 1.4em;
  box-sizing: border-box;
}

.hero__floating-block p {
  line-height: 1.4em;
  margin-bottom: .6em;
}

.hero__floating-block--research {}

@media only screen and (max-width: 1140px) {
  .hero__floating-block--research {
    width: 95%;
    margin: 0 auto 0;
    right: 0px;
    left: 0px;
  }
}

/*  GO FULL WIDTH BELOW 820 PIXELS */
@media only screen and (max-width: 944px) {
  .hero__floating-block--research {
    position: relative;
    width: 100%;
    margin: 34px 0 0 0;
  }
}

.info-block {
  padding: 15px;
  background-color: #DDD;
  overflow: visible;
  text-align: justify;
  font-size: 0.9em;
  line-height: 1.4em;
}
